body {
  margin: 0px;
}

main {
  display: flex;
}

#castle {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.keyImage {
  height: 30vh;
  display: flex;
  position: relative;
  gap: 3vw;
}

.storage {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 3vh;
  width: 20vw;
  height: 10vh;
}

.storage img {
  display: flex;
  width: 3vw;
}

#intro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  min-width: 40rem;
  height: 15vh;

  font-size: 3em;
  font-family: "Times New Roman", Times, serif;
  font-weight: lighter;
  color: black;
  background-color: wheat;
  border: 3px solid black;
  border-radius: 0.5em;
}

.keyContainer {
  display: flex;
  width: 20vw;
  align-items: flex-end;
  justify-content: center;
}

#key {
  display: flex;
  width: 3vw;
}

.container {
  width: 100vw;
  height: 70vh;
}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 40vh;
  position: absolute;
}

.leftArrow {
  display: flex;
}

#arrowLeft {
  padding-left: 2vw;
  width: 13vw;
  height: 9vh;
  cursor: pointer;
}

.dobbyLucius {
  display: flex;
  height: 40vh;
  align-items: baseline;
  justify-content: center;
}

.dobby {
  display: flex;
  margin-top: 25vh;
  height: 15vh;
  cursor: pointer;
}

.lucius {
  display: flex;
  height: 25vh;
  padding-right: 20vw;
}

#lockBox {
  display: flex;
  width: 20vw;
  height: 40vh;
  cursor: pointer;
  margin-left: 15vw;
  opacity: 0;
}

.sockPanties {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sock {
  width: 5vw;
  margin-left: 25vw;
  margin-bottom: 10vh;
}

#panties {
  width: 5vw;
  margin-bottom: 10vh;
}

.diary {
  height: 40vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
#diary {
  width: 5vw;
  margin-left: 20vw;
  cursor: pointer;
}

.rightArrow {
  display: flex;
}

#arrowRight {
  padding-right: 2vw;
  width: 13vw;
  height: 9vh;
  cursor: pointer;
}

.harryImage {
  height: 45vh;
  display: flex;
  margin-top: 25vh;
  align-items: center;
  justify-content: flex-end;
  gap: 2em;
}

.harryImage img {
  display: flex;
  height: 45vh;
  z-index: 1;
}

#gateTextInfo {
  background-color: wheat;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 2em;
  height: 50%;
  width: 30%;
  padding-left: 1em;
  padding-right: 1em;
  color: black;
  z-index: 1;
}

#missingItemsTextInfo {
  background-color: wheat;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 2em;
  height: 50%;
  width: 30%;
  padding-left: 1em;
  padding-right: 1em;
  color: black;
  z-index: 1;
}

#finish {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 2em;
  height: 50%;
  width: 30%;
  padding-left: 1em;
  padding-right: 1em;
  color: black;
  z-index: 1;
 }

#finish p {
  background-color: wheat;
}
