body {
  margin: 0px;
  background-image: url(images/backdrop/castle.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
main {
  display: flex;
}

.arrowContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45vh;
  justify-content: space-between;
  width: 100vw;
  height: 10vh;
}

.leftArrow {
  display: flex;
}

.leftArrow img {
  padding-left: 2vw;
  width: 13vw;
  height: 9vh;
}

.rightArrow {
  display: flex;
}

.rightArrow img {
  padding-right: 2vw;
  width: 13vw;
  height: 9vh;
}

.harryImage {
  height: 45vh;
  display: flex;
  justify-content: center;
}

.harryImage img {
  display: flex;
}
