body {
  margin: 0px;
  background-image: url(images/backdrop/castle.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.keyImage {
  height: 30vh;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.keyImage img {
  margin-right: 10vw;
  height: 10vh;
}

main {
  display: flex;
  position: relative;
}

.container {
  width: 100vw;
  height: 70vh;
  position: relative;
}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 40vh;
  position: absolute;
}

.leftArrow {
  display: flex;
}

.leftArrow img {
  padding-left: 2vw;
  width: 13vw;
  height: 9vh;
}

.dobbyLucius {
  display: flex;
  height: 25vh;
  margin-top: 20vh;
  padding-right: 40vw;
  align-items: baseline;
  justify-content: center;
}

.dobby {
  display: flex;
  height: 15vh;
}

.lucius {
  display: flex;
  height: 25vh;
}

.rightArrow {
  display: flex;
}

.rightArrow img {
  padding-right: 2vw;
  width: 13vw;
  height: 9vh;
}

.harryImage {
  height: 45vh;
  display: flex;
  margin-top: 25vh;
  justify-content: baseline;
  justify-content: center;
}

.harryImage img {
  display: flex;
  z-index: 1;
}

.key-off {
  opacity: 0;
}

.key-on {
  opacity: 1;
}